# Node.js dependencies
/frontend/node_modules

# Build directory
/frontend/build

# Logs
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Environment variables
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.test
/frontend/.env.production

# Editor files
/frontend/.vscode
/frontend/.idea

# System files
/frontend/.DS_Store
/frontend/Thumbs.db

.codegpt
# Node.js dependencies
/backend/node_modules

# Logs
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# Environment variables
/backend/.env

# Database files (if applicable)
/backend/data/
/backend/*.sqlite3

# Editor files
/backend/.vscode/
/backend/.idea/

# System files
/backend/.DS_Store
/backend/Thumbs.db


